<div class="about_us_page">
    <div class="about_container clearfix">
        <div class="col-md-6">
            <div class="title">
                About EGIS
            </div>
            <div class="content">

            </div>
        </div>
        <div class="col-md-6">

        </div>

    </div>
    <div class="mission_container clearfix">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
            <div class="title">
                Our Mission
            </div>
            <div class="content">

            </div>
        </div>
    </div>
    <div class="one_stop_container clearfix">
        <div class="col-md-6">
            <div class="title">
                One-Step Sourcing
            </div>
            <div class="content">

            </div>
        </div>
        <div class="col-md-6">

        </div>
    </div>
    <div class="anywhere_container clearfix">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
            <div class="title">
                Anytime,Anywhere
            </div>
            <div class="content">

            </div>
        </div>
    </div>
    <div class="branches_container clearfix">
        <div class="col-md-6">
            <div class="title">
                Branches
            </div>
            <div class="content">

            </div>
        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>